<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
    <insert id="save" parameterType="member">
        INSERT
        INTO member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
/*DTO 필드 이름.*/
        VALUES (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>

    <select id="login" resultType="member" parameterType="member">
        SELECT memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table
        WHERE memberEmail = #{memberEmail} AND memberPassword = #{memberPassword}
    </select>

    <select id="findAll" resultType="member">
        SELECT id, memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table
    </select>

    <select id="findById"  parameterType="Long" resultType="member">
        SELECT id, memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table
        WHERE id = #{id}
    </select>

    <delete id="delete"  parameterType="Long" >
        DELETE
        FROM member_table
        WHERE id = #{id}
    </delete>

    <select id="findByMemberEmail"  parameterType="String" resultType="member">
        SELECT id, memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table
        WHERE memberEmail= #{loginEmail}
    </select>

    <update id="update"  parameterType="member" >
        UPDATE member_table
        SET memberAge = #{memberAge}, memberMobile = #{memberMobile}
        WHERE id = #{id}
    </update>
</mapper>